<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Magento Test Regression Suite" thread-count="4"
       parallel="tests" verbose="4">

    <listeners>
        <listener
                class-name="listeners.ExtentReportListener"/>
        <listener
                class-name="listeners.TestAllureListener"/>
    </listeners>

    <test name="Login and place an order">

        <classes>
            <class name="tests.LoginPageTest"/>
            <class name="tests.EditAddressTest"/>
            <class name="tests.AccountsPageTest"/>
            <class name="tests.CheckoutPageTest"/>
        </classes>

    </test>

</suite>